In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
guests_characteristics = pd.read_csv('data/Predykcyjne_guest_characteristics_.csv')
guests_cusine =  pd.read_csv('data/Predykcyjne_guest_cuisine_.csv')
guests_payment =  pd.read_csv('data/Predykcyjne_guest_payment_.csv')

guests_characteristics.drop( 'Unnamed: 0', axis = 1, inplace = True)
guests_cusine.drop( 'Unnamed: 0', axis = 1, inplace = True)
guests_payment.drop( 'Unnamed: 0', axis = 1, inplace = True)

restaurant_cusine =pd.read_csv('data/Predykcyjne_restaurant_cuisine.csv')
restaurant_open =pd.read_csv('data/Predykcyjne_restaurant_open.csv')
restaurant_parking =pd.read_csv('data/Predykcyjne_restaurant_parking.csv')
restaurant_payment =pd.read_csv('data/Predykcyjne_restaurant_payment.csv')

stars = pd.read_csv("data/Predykcyjne_Stars_.csv")

# Guests

In [3]:
df_inner = pd.merge(guests_characteristics, guests_cusine, on='guestID', how='inner')
guests = pd.merge(df_inner, guests_payment, on='guestID', how='inner')

guests.drop(guests.index[guests['dress_preference'] == '?'], inplace = True)
guests.drop(guests.index[guests['company'] == '?'], inplace = True)
guests.drop(guests.index[guests['transport'] == '?'], inplace = True)
guests.drop(guests.index[guests['marital_status'] == '?'], inplace = True)
guests.drop(guests.index[guests['activity'] == '?'], inplace = True)
guests.drop(guests.index[guests['budget'] == '?'], inplace = True)
guests

,guestID,smoking,drinker,dress_preference,company,transport,marital_status,birth_year,interest,religion,activity,color,weight,budget,height,cuisine,payment
0,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,student,black,69,medium,1.77,American,cash
1,U1002,false,abstemious,informal,family,public,single,1990,technology,Catholic,student,red,40,low,1.87,Mexican,cash
2,U1003,false,social drinker,formal,family,public,single,1989,none,Catholic,student,blue,60,low,1.69,Mexican,cash
3,U1004,false,abstemious,informal,family,public,single,1940,variety,none,professional,green,44,medium,1.53,Bakery,cash
4,U1004,false,abstemious,informal,family,public,single,1940,variety,none,professional,green,44,medium,1.53,Bakery,bank_debit_cards
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,U1127,false,abstemious,no preference,solitary,public,single,1992,variety,Catholic,student,black,65,low,1.76,Mexican,cash
295,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Cafeteria,cash
296,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Hot_Dogs,cash
297,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Pizzeria,cash
298,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Mexican,cash

In [4]:
stars_guests = pd.merge(guests, stars, on='guestID', how='inner')
stars_guests.drop( 'Unnamed: 0', axis = 1, inplace = True)
stars_guests.drop_duplicates(inplace = True)
stars_guests

,guestID,smoking,drinker,dress_preference,company,transport,marital_status,birth_year,interest,religion,activity,color,weight,budget,height,cuisine,payment,restaurantID,stars
0,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,student,black,69,medium,1.77,American,cash,132830,1
1,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,student,black,69,medium,1.77,American,cash,132825,2
2,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,student,black,69,medium,1.77,American,cash,135085,0
3,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,student,black,69,medium,1.77,American,cash,135040,1
4,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,student,black,69,medium,1.77,American,cash,135039,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2461,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Mexican,cash,135064,0
2462,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Mexican,cash,132921,0
2463,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Mexican,cash,135060,0
2464,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Mexican,cash,132954,0
2465,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Mexican,cash,132951,0

# Restaurant

In [5]:
df_inner = pd.merge(restaurant_cusine, restaurant_open, on='restaurantID', how='inner')
df_inner = pd.merge(df_inner, restaurant_parking, on='restaurantID', how='inner')
restaurant = pd.merge(df_inner, restaurant_payment, on='restaurantID', how='inner')

In [6]:
def get_open_marker(start, end, m):
    
    tmp = np.zeros(m, dtype = int)
    
    for j in range(m):
        if restaurant['opening'][j] ==0 and restaurant['closing'][j] ==0:
            tmp[j]=3
            
        elif restaurant['opening'][j] < restaurant['closing'][j]:
            if restaurant['opening'][j] <= start and  restaurant['closing'][j] >= end:
                tmp[j]=1
            
        elif restaurant['opening'][j] > restaurant['closing'][i]:
            if restaurant['closing'][j] <= start and restaurant['opening'][j]>= end:
                tmp[j]=0
            else:
                tmp[j]=1
      
    
    return tmp

In [7]:
m = len(restaurant['hours'])
opening = []
closing = []
long = []
for i in range(m):
    o = restaurant['hours'][i].split( "-" )[0]
    o = int(o[:2])
    c = restaurant['hours'][i].replace(";", "-").split( "-" )[1]
    c = int(c[:2])
    if c == 0:
        c = 24
    opening.append(o)
    closing.append(c)
    
restaurant['opening'] = opening
restaurant['closing'] = closing

restaurant['open_00_02'] = get_open_marker(0, 2, m)
restaurant['open_02_04'] = get_open_marker(2, 4, m)
restaurant['open_04_06'] = get_open_marker(4, 6, m)
restaurant['open_06_08'] = get_open_marker(6, 8, m)
restaurant['open_08_10'] = get_open_marker(8, 10, m)
restaurant['open_10_12'] = get_open_marker(10, 12, m)
restaurant['open_12_14'] = get_open_marker(12, 14, m)
restaurant['open_14_16'] = get_open_marker(14, 16, m)
restaurant['open_16_18'] = get_open_marker(16, 18, m)
restaurant['open_18_19'] = get_open_marker(18, 19, m)
restaurant['open_19_20'] = get_open_marker(19, 20, m)
restaurant['open_20_21'] = get_open_marker(20, 21, m)
restaurant['open_21_22'] = get_open_marker(21, 22, m)
restaurant['open_22_23'] = get_open_marker(22, 23, m)
restaurant['open_23_24'] = get_open_marker(23, 24, m)

In [8]:
stars_restaurant = pd.merge(restaurant, stars, on='restaurantID', how='inner')
stars_restaurant.drop('hours', axis = 1, inplace = True)
stars_restaurant.drop('days;;;;;;;;', axis = 1, inplace = True)
stars_restaurant.drop('opening', axis = 1, inplace = True)
stars_restaurant.drop('Unnamed: 0', axis = 1, inplace = True)
stars_restaurant.drop('payment', axis = 1, inplace = True)

stars_restaurant

,restaurantID,cuisine,parking_lot,closing,open_00_02,open_02_04,open_04_06,open_06_08,open_08_10,open_10_12,...,open_14_16,open_16_18,open_18_19,open_19_20,open_20_21,open_21_22,open_22_23,open_23_24,guestID,stars
0,135109,Italian,none,21,0,0,0,0,1,1,...,1,1,1,1,1,0,0,0,U1030,0
1,135109,Italian,none,21,0,0,0,0,1,1,...,1,1,1,1,1,0,0,0,U1020,2
2,135109,Italian,none,21,0,0,0,0,1,1,...,1,1,1,1,1,0,0,0,U1051,1
3,135109,Italian,none,21,0,0,0,0,1,1,...,1,1,1,1,1,0,0,0,U1041,1
4,135109,Italian,none,21,0,0,0,0,1,1,...,1,1,1,1,1,0,0,0,U1030,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5794,132560,Regional,public,24,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,U1087,1
5795,132560,Regional,public,24,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,U1067,1
5796,132560,Regional,public,24,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,U1082,0
5797,132560,Regional,public,24,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,U1050,0
5798,132560,Regional,public,24,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,U1087,1

## Join everything into one table

In [9]:
stars = pd.merge(stars_guests, stars_restaurant, on=['restaurantID', 'guestID', 'stars' ], how='inner')
stars.drop('guestID', axis = 1, inplace = True)
stars.drop('restaurantID', axis = 1, inplace = True)
stars.drop_duplicates(inplace = True)
stars

,smoking,drinker,dress_preference,company,transport,marital_status,birth_year,interest,religion,activity,...,open_10_12,open_12_14,open_14_16,open_16_18,open_18_19,open_19_20,open_20_21,open_21_22,open_22_23,open_23_24
0,false,abstemious,informal,family,on foot,single,1989,variety,none,student,...,1,0,0,0,0,0,0,0,0,0
3,false,abstemious,informal,family,on foot,single,1989,variety,none,student,...,1,1,1,1,1,1,1,1,1,1
6,false,abstemious,informal,family,on foot,single,1989,variety,none,student,...,1,1,1,1,1,1,0,0,0,0
9,false,abstemious,informal,family,on foot,single,1989,variety,none,student,...,0,0,0,0,1,1,1,1,1,0
13,false,abstemious,informal,family,on foot,single,1989,variety,none,student,...,0,0,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16250,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,...,1,0,0,0,0,0,0,0,0,0
16254,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,...,1,1,1,1,1,1,1,1,1,0
16257,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,...,1,1,1,1,1,1,1,1,1,0
16260,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,...,1,1,1,1,1,1,1,1,1,0
16263,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,...,1,1,1,1,1,1,1,1,1,0

# Transform categorical variables int 'dummy' variable (one-hot encoding)

In [10]:
stars['smoking'] = stars['smoking'].astype(object)
stars['drinker'] = stars['drinker'].astype(object)
stars['dress_preference'] = stars['dress_preference'].astype(object)
stars['company'] = stars['company'].astype(object)
stars['transport'] = stars['transport'].astype(object)
stars['marital_status'] = stars['marital_status'].astype(object)
stars['interest'] = stars['interest'].astype(object)
stars['religion'] = stars['religion'].astype(object)
stars['activity'] = stars['activity'].astype(object)
stars['budget'] = stars['budget'].astype(object)
stars['cuisine_x'] = stars['cuisine_x'].astype(object)
stars['cuisine_y'] = stars['cuisine_y'].astype(object)
stars['payment'] = stars['payment'].astype(object)
stars['color'] = stars['color'].astype(object)
stars['parking_lot'] = stars['parking_lot'].astype(object)
stars['payment'] = stars['payment'].astype(object)


# Some of the predictors are categorical. Lets produce some dummy variables
categorical_bolean = (stars.dtypes == "object").values
data_numeric = stars.loc[:, ~categorical_bolean]
data_categorical = stars.loc[:, categorical_bolean]
data_dummies = pd.get_dummies(data_categorical)
data = pd.concat([data_numeric, data_dummies], axis=1)
data

,birth_year,weight,height,stars,closing,open_00_02,open_02_04,open_04_06,open_06_08,open_08_10,...,cuisine_y_Japanese,cuisine_y_Mexican,cuisine_y_Pizzeria,cuisine_y_Regional,cuisine_y_Seafood,cuisine_y_Vietnamese,parking_lot_none,parking_lot_public,parking_lot_valet parking,parking_lot_yes
0,1989,69,1.77,2,12,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
3,1989,69,1.77,0,24,1,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
6,1989,69,1.77,1,20,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
9,1989,69,1.77,2,23,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
13,1989,69,1.77,2,23,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16250,1986,66,1.72,0,13,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
16254,1986,66,1.72,0,23,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1
16257,1986,66,1.72,0,23,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1
16260,1986,66,1.72,0,23,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1
16263,1986,66,1.72,0,23,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1

## Add corrections based onlogistic regression and decision trees:

In [11]:
data['smoking'] = data['smoking_true']
data.drop('smoking_true', axis = 1, inplace = True)
data.drop('smoking_false', axis = 1, inplace = True)

data.drop('marital_status_single', axis = 1, inplace = True)
data.drop('marital_status_married', axis = 1, inplace = True)

data.drop('cuisine_x_Bar', axis = 1, inplace = True)
data.drop('cuisine_x_Italian', axis = 1, inplace = True)

#data.drop('payment_MasterCard-Eurocard', axis = 1, inplace = True)
#data.drop('payment_American_Express', axis = 1, inplace = True)
#data.drop('payment_bank_debit_cards', axis = 1, inplace = True)
#data.drop('payment_VISA', axis = 1, inplace = True)

data['age'] = 2021 - data['birth_year']
data.drop('birth_year', axis = 1, inplace = True)
data['target'] = data['stars']
data.drop('stars', axis = 1, inplace = True)

data

,weight,height,closing,open_00_02,open_02_04,open_04_06,open_06_08,open_08_10,open_10_12,open_12_14,...,cuisine_y_Regional,cuisine_y_Seafood,cuisine_y_Vietnamese,parking_lot_none,parking_lot_public,parking_lot_valet parking,parking_lot_yes,smoking,age,target
0,69,1.77,12,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,32,2
3,69,1.77,24,1,1,1,1,1,1,1,...,0,0,0,0,1,0,0,0,32,0
6,69,1.77,20,0,0,0,0,0,1,1,...,0,1,0,0,0,0,1,0,32,1
9,69,1.77,23,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,32,2
13,69,1.77,23,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,32,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16250,66,1.72,13,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,0,35,0
16254,66,1.72,23,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,35,0
16257,66,1.72,23,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,35,0
16260,66,1.72,23,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,35,0
16263,66,1.72,23,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,35,0

for d in data.columns:
    print(d)

## Save data

In [12]:
data.to_csv("data.csv",index=False)
data_check = pd.read_csv("data.csv")
data_check

,weight,height,closing,open_00_02,open_02_04,open_04_06,open_06_08,open_08_10,open_10_12,open_12_14,...,cuisine_y_Regional,cuisine_y_Seafood,cuisine_y_Vietnamese,parking_lot_none,parking_lot_public,parking_lot_valet parking,parking_lot_yes,smoking,age,target
0,69,1.77,12,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,32,2
1,69,1.77,24,1,1,1,1,1,1,1,...,0,0,0,0,1,0,0,0,32,0
2,69,1.77,20,0,0,0,0,0,1,1,...,0,1,0,0,0,0,1,0,32,1
3,69,1.77,23,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,32,2
4,69,1.77,23,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,32,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2931,66,1.72,13,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,0,35,0
2932,66,1.72,23,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,35,0
2933,66,1.72,23,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,35,0
2934,66,1.72,23,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,35,0
2935,66,1.72,23,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,35,0

## Save normalized data

In [13]:
data['weight'] = (data['weight']- data['weight'].mean()) / data['weight'].std()
data['height'] = (data['height']- data['height'].mean()) / data['height'].std()
data['age'] = (data['age']- data['age'].mean()) / data['age'].std()
data['closing'] = (data['closing']- data['closing'].mean()) / data['closing'].std()

In [14]:
data.to_csv("data_normalized.csv",index=False)
data_check = pd.read_csv("data_normalized.csv")
data_check

,weight,height,closing,open_00_02,open_02_04,open_04_06,open_06_08,open_08_10,open_10_12,open_12_14,...,cuisine_y_Regional,cuisine_y_Seafood,cuisine_y_Vietnamese,parking_lot_none,parking_lot_public,parking_lot_valet parking,parking_lot_yes,smoking,age,target
0,0.258262,0.569555,-2.839010,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,-0.451192,2
1,0.258262,0.569555,0.814568,1,1,1,1,1,1,1,...,0,0,0,0,1,0,0,0,-0.451192,0
2,0.258262,0.569555,-0.403292,0,0,0,0,0,1,1,...,0,1,0,0,0,0,1,0,-0.451192,1
3,0.258262,0.569555,0.510103,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,-0.451192,2
4,0.258262,0.569555,0.510103,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,-0.451192,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2931,0.057789,0.099726,-2.534546,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,0,-0.259049,0
2932,0.057789,0.099726,0.510103,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,-0.259049,0
2933,0.057789,0.099726,0.510103,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,-0.259049,0
2934,0.057789,0.099726,0.510103,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,-0.259049,0
2935,0.057789,0.099726,0.510103,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,-0.259049,0